.barra-cotizacion {
    background-color: #00479d;
    color: #fff;
    font-size: 14px;
    height: 50px;
    display: flex;
    align-items: center; 
  }
  
  .telefono p {
    margin: 0;
    font-weight: 500;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 20px;
  }
  
  .simula-credito {
    margin: 0;
    cursor: pointer;

    font-family: "Bebas Neue", Sans-serif;

    font-size: 17px;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1.7px;
  }
  
  .simula-credito:hover {
    text-decoration: underline;
  }
  
  .logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }
  
  .logo-marca {
    height: 28px;
    object-fit: contain;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .logos {
      justify-content: center;
      margin-top: 8px;
    }
  
    .telefono {
      text-align: center;
    }
    .barra-cotizacion {

        height: 80px;
 
      }
  }
  .barra-cotizacion .row {
    height: 100%;
    align-items: center;
  }
  
  .telefono p,
  .simula-credito {
    line-height: 1;
  }